<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style2.css">
    <script src="/javascript/validations_register.js"></script>
    <title>Wabi-Sabi Deco</title>
</head>
<body>
<section class="container">
    <div class="row">


        <div class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 cart-empty">
            <img class="imgcart" src="imagenes/shopping-cart.png" alt="">
            <div class="titulo">
                <h1 class="carttitle">Tu carrito está vacío</h1>
            </div>
            <p class="parrafos">No tienes artículos en tu carrito de compras</p>
        </div>
        <h1>Productos</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productos : ${productos}">
            	<img th:src="${unProducto.urlImage}"  class="card-img-top" alt="IMAGEN">
                <td th:text="${productos.nombre}"></td>
                <td th:text="${productos.precio}"></td>
                <td th:text="${productos.descripcion}"></td>

            </tr>

        <div class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 btn-carrito">
            <p class="parrafos">
                <a href="productos"><input id="submit" type="button" value="Seguir comprando"></a>
                <!--<button type="button" class="Registrarme">Registrarme!</button>-->


                <!--<button type="button" class="Registrarme">Registrarme!</button>-->
                <!-- Button trigger modal -->
                <button type="button" id ="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Finalizar compra
                </button>

                <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Inicia sesión para continuar tu compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" role="link" onclick="window.location='login'" >Iniciar sesión</button>
                            <button type="button" class="btn btn-primary" role="link" onclick="window.location='registro'">Registrarme</button>
                        </div>
                    </div>
                </div>
            </div>
            </p>
        </div>

    </div>

</section>

<div lang="en" th:include="fragments/footer :: footer"></div>

</body>
</html>