<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style3.css">
    <script src="/javascript/validations_register.js"></script>
    <title>Wabi-Sabi Deco</title>
</head>
<body>
<section class="contenidofaq">
    <div class="container">
        <main class="row">
            <div class="col-12 col-md">
                <h3><strong>¿Cómo hago para comprar en la tienda online?</strong></h3>
                <div class="banner-comprar">
                    <img src="imagenes/COMO COMPRAR 1.png" alt="banner-seguinos">
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="question btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p><strong>Elegí todo lo que te guste. ¿Tenes dudas sobre cómo hacerlo? </strong></p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ol>
                                    <li>Una vez que elegiste el producto que deseás comprar debés hacer click en COMPRAR. El producto se agregará a tu Bolsa de Compras, y vas a tener la opción de seguir comprando o iniciar pago.</li>
                                    <li>Sí seleccionaste INICIAR PAGO, verás el detalle de el/los producto/s que elegiste y luego deberás hacer clic en Finalizar Compra para seguir adelante. Si es la primera vez que accedés a nuestra Tienda, te pedirá en cambio que ingreses tu email para poder identificar tu compra. </li>
                                    <li>En el siguiente paso, deberás ingresar tu info personal, la dirección de facturación, la de entrega y luego el método de envío. Te prometemos que sólo te pediremos los datos esenciales para tu compra. </li>
                                    <li>Por último, deberás seleccionar el método de pago con el cual querés abonar tu compra.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <p><strong>¿ Puedo comprar Online y retirar en el Local?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>¡Sí! Actualmente está habilitado nuestro Local de Palermo como Punto de Retiro. Avanzá con tu Compra, elegí retirar por el local y unos días después, cuando tu Pedido esté disponible para que lo retires vas a recibir un mail con tu Código de Retiro.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <p><strong>¿Dónde se encuentra el local?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Nuestro local se encuentra en Costa Rica 3900, timbre 2, Palermo (Capital Federal).</p>
                                <iframe id="map-goo"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2581.9320194500233!2d-58.41960053278322!3d-34.59154718854779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7e3cbf5af7%3A0xb4247fb590cc2f0!2sCosta%20Rica%203900%2C%20C1176%20CABA!5e0!3m2!1ses-419!2sar!4v1571014485073!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <p><strong>¿Cuánto cuesta el envío?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Si tu compra supera el monto de $ 5000, accedes a ¡Envío Gratis a todo el País! Podes ver el costo del envío de tu compra en el Calculador de Envío de cada producto ingresando el código postal del destino o dentro de tu Bolsa (Carrito) de Compras. El costo depende del peso del tamaño paquete, del peso y volumen del mismo y del domicilio de entrega.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <p><strong>¿Cómo saber cuál es mi código postal?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Podes conocer tu código postal haciendo click <a class="linkcorreo" href="https://www.correoargentino.com.ar/formularios/cpa">acá. </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <p><strong>¿Hacen envíos a todo el país?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Sí, hacemos envíos a todo Argentina por Correo ANDREANI y CORREO ARGENTINO. Podes optar entre envío a domicilio (personal o laboral) o envío a Sucursal ANDREANI. Dentro de la CABA y Gran Buenos Aires también ofrecemos envíos con Entrega Agendada. Al realizar tu Compra vas a poder elegir el día y la franja horaria en que queres que te entreguemos tu Pedido.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="question card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <p><strong>¿Cuánto tiempo demora el envío?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Podes conocer el plazo estimado de entrega en el Calculador de Envío de cada Producto o en el Check Out al elegir el medio de Envío de tu preferencia. Si queres recibir tu Pedido en Ciudad de Buenos Aires o Gran Buenos Aires y elegís Entrega Agendada, al finalizar tu Compra vas a elegir el día de Entrega y la franja horaria de tu preferencia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="question btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <p><strong>¿Qué opciones tengo para pagar mi compra online?</strong></p>
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Podes pagar con Tarjeta de Crédito, Tarjeta de Débito y en Efectivo a través de Pago Fácil, RAPIPAGO y REDLINK. También aceptamos pagos por Depósito o Transferencia Bancaria. ¿Queres aprovechar cuotas sin interés con Tarjeta? Al finalizar tu Compra, luego de cargar los números de tu Tarjeta, la Tienda te va a ofrecer la mayor cantidad de Cuotas disponibles para tu Banco y Tarjeta. </p>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="arriba" href="#top"><strong>Volver arriba</strong></a>
        </main>
    </div>
</section>
<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>