<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style2.css">

    <script src="/javascript/validacionlog.js"></script>

    <script type="/javascript/validacionlog.js"></script>

    <title>Wabi-Sabi Deco</title>
</head>
<body>
<section>
    <div class="encabezado"style="margin-top:120px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #68ECA3 ;">
                <li class="breadcrumb-item"><a href="index" style="color: #199c6a;" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #343a40;" >Iniciar Sesión</li>
            </ol>
        </nav>
    </div>
    <div class="row-login">
        <div class="formulario offset-md-3 col-md-6">
            <form id="formlogin" method="POST" th:action="@{/login}"  th:object="${usuarioLogin}">
                <p>
                    <label for="email">E-Mail:</label>
                    <input id="email" type="email"  value="" th:field="*{email}" placeholder="Ejemplo: usuario@ejemplo.com"  required!>
                    <span style="color: #ffa81c; font-size: 11px;" class="errorEmail" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>
                </p>

                <p>
                    <label for="password">Contraseña:</label>
                    <input id="password" type="password"  th:field="*{contrasenia}" placeholder="Ingrese la contraseña">
                    <span style="color: #ffa81c; font-size: 11px;" class="errorContrasenia" th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}" ></span>

                </p>
                <!--<p>
                    <label for="Recordarme"></label>
                   Recordarme<input class="recordarme" type="checkbox" name="Recordarme" value="R">

                </p>-->

                <p>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <input id="submit" type="submit"  value="Iniciar sesión">
                <br>
                <br>

                <a class="contraseñaolv" href="#">Olvidé mi contraseña</a>
                <p>¿No estás registrado?, hacé click <a href="registro" style="text-decoration:underline; color:black">acá</a></p>
                </p>
            </form>
        </div>
    </div>
</section>
<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>
