<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style3.css">
    <script src="/javascript/validations_register.js"></script>
    <title>Wabi-Sabi Deco</title>
</head>
<body>
<div class="encabezado" style="margin-top:120px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #68ECA3 ;margin-bottom: 50px;">
            <li class="breadcrumb-item"><a href="index" style="color: #199c6a;" >Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color: #343a40;" >Quiénes somos</li>
        </ol>
    </nav>
</div>
<section>
    <div class="container">
        <main class="row">
            <div class="col-12 col-md">
                <h3><strong>Quiénes somos</strong></h3>
                <p class="texcontenido" style="margin-top: 30px;">
                    <strong>Wabi-Sabi</strong> empezó como una idea en el fin del mundo de <strong>Vero, Flor, Eri y Fer</strong>,
                    cuatro turistas frecuentes de Tierra del Fuego, apasionadas por el diseño. Donde el hogar es refugio imprescindible y debe tener color y calor más que en otros lugares para ganarle al frío. Con el tiempo esa nobleza fueguina se entreveró con una impronta porteña que enfatiza los valores de la tradición pero innovando y buscando aggiornarse. A partir de esta fusión, comenzó a gestarse el camino.

                    Con el diseño industrial como premisa intentamos revalorizar los objetos cotidianos para que no solo sean funcionales sino tambien personalicen los espacios. Creamos y fabricamos con la idea que lo que hacemos tenga intervencion por parte de quien nos elige.  Para eso nos empeñamos en darle al usuario una experiencia única de customizacion a partir de la eleccion de colores, estilos o funcionalidad de los productos. Nacimos de una combinación, por eso creemos que la amalgama de ideas y estilos es la fórmula para crecer y aprender, siempre.
                </p>
            </div>
        </main>
    </div>
</section>
<div lang="en" th:include="fragments/footer :: footer"></div>
</body>
</html>