 <!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Wabi-Sabi Deco</title>
</head>
<body>
<header>
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img src="imagenes/logo-sucu-blanco.png" alt="logo" style="width:40px;height:40px;">
            <a class="navbar-brand" href="index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nosotros</a>
                        <div class="dropdown-menu" style="background-color: #343a40;">
                            <a class="dropdown-item" href="nosotros">Quiénes Somos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Productos</a>
                        <div class="dropdown-menu" style="background-color: #343a40;">
                            <a class="dropdown-item" href="#">Ver todos</a>
                            <hr class="divisor">
                            <a class="dropdown-item" href="productos/macetas">Macetas</a>
                            <a class="dropdown-item" href="productos/almohadones">Almohadones</a>
                            <a class="dropdown-item" href="productos/cuadros">Cuadros</a>
                            <a class="dropdown-item" href="productos/espejos">Espejos</a>
                            <a class="dropdown-item" href="productos/coffetime">Coffe Time</a>
                        </div>
                    </li>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registro">Registrarse</a>
                    </li>
                    <li><a href="carrito"><img src="imagenes/Cart-png.png" style="width: 35px; height: 35px;margin-left: inherit;" alt="carrito"></a></li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar producto" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<section class="products">
    <div class="encabezado"style="margin-top:120px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #68ECA3 ;margin-bottom: 50px;">
                <li class="breadcrumb-item"><a href="index" style="color: #199c6a;" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #343a40;" >Ver todos los productos</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">


                <div th:each="unProducto : ${productos}" class="card col-12 col-sm-6 col-md-4" style="width: 18rem;">
                    <img th:src="${unProducto.urlImage}"  class="card-img-top" alt="IMAGEN">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${unProducto.nombre}"></h5>
                        <p class="card-text" th:text="${unProducto.descripcion}"></p>
                        <p class="card-text" th:text="${unProducto.precio}"></p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>


            </div>
        </div>
    </div>


</section>
</div>


<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="imagenes/logo1.png" alt="" style="width:80px; height:80px">
            <small class="d-block mb-3 text-muted">&copy; 2019</small>
        </div>
        <div class="col-6 col-md">
            <h5>NAVEGACIÓN</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Productos</a></li>
                <li><a class="text-muted" href="#">Preguntas Frecuentes</a></li>
                <li><a class="text-muted" href="#">Quienes somos</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>FORMAS DE ENVÍO</h5>
            <ul class="list-unstyled text-small">
                <li> <img src="imagenes/logo-oca.jpg" alt="" style="width:80px; height:40px"> </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>CONTACTANOS</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">ventas@tucasa.com</a></li>
                <li>SHOWROOM PALERMO</li>
                <li>DIRECCIÓN:Costa Rica 3900, timbre 2, CABA</li>
                <li>HORARIOS: Miércoles a Domingos de 15 a 19hs</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>REDES SOCIALES</h5>
            <ul class="list-unstyled text-small">
                <li><img src="imagenes/fb.png" alt="" style="width:40px; height:40px"></li>
                <li><img src="imagenes/ig.png" alt="" style="width:40px; height:40px"></li>
                <li>ENTERATE LAS ÚLTIMAS NOVEDADES</li>
                <li><form>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Ingrese email">
                            <span style="color: #ffa81c; font-size: 11px;" class="errorSusc" ></span>
                        </div>
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm" style="padding:0px;" >
                            <button id="suscribe" type="submit" style="background: #68ECA3;border: 2px solid #68ECA3;" ><img src="imagenes/send-footer.png" style="width: 20px;height: 20px;" alt="avion-papel"></button>
                        </label>
                    </div>
                </form></li>
            </ul>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
      window.addEventListener('load', function(){

                //detectar cuando toco el boton de contacto (se envía el formulario)
                 var botonSuscribirse = document.getElementById("suscribe");
                 botonSuscribirse.addEventListener('click',function(){

                  //tomar los datos del formulario
                    var send = document.getElementById("colFormLabelSm");
                    var errores = false;
                    var expresion = /\w+@\w+\.+[a-z]/;


                   //los span de errores del formulario
                    var errorSend = document.querySelector("span.errorSusc");


                  //por cada dato voy a validar

                     //campo send
                     if(send.value == ""){
                        errorSend.innerHTML = "El correo electrónico es obligatorio.";
                        send.style.border = "2px solid #ffa81c";
                        errores = true;
                      }else if(send.value.length < 3){
                        errorSend.innerHTML = "El correo electrónico debe contener al menos 3 caracteres.";
                        send.style.border = "2px solid #ffa81c";
                        errores = true;
                    }else if(send.value.length > 40){
                        errorSend.innerHTML = "La extensión del correo electrónico no debe superar los 40 caracteres.";
                        send.style.border = "2px solid #ffa81c";
                        errores = true;
                    }else if(send.value.trim()== ""){
                        errorSend.innerHTML = "El correo electrónico no puede tener espacios vacíos.";
                        send.style.border = "2px solid #ffa81c";
                        errores = true;
                    }else if(!expresion.test(send.value)){
                        errorSend.innerHTML = "El formato no es válido.";
                        send.style.border = "2px solid #ffa81c";
                        errores = true;
                    }else{
                        errorSend.innerHTML = "";
                        send.style.border = "2px solid #20db93";
                      }

                  //si todo esta bien, le doy la bienvenida
                          if(!errores){
                              alert("¡Gracias por suscribirte!")
                          };


                 })

                });

    </script>
</body>
</html>